.main{
	background-image:url(../src/background.jpg);
	height:500px;
	width: 100%;
	background-size: cover;
	background-repeat:no-repeat;
	position:absolute;
}

.calculator{
	width: 300px;
	margin:0 auto;
	background-color:rgba(100, 100, 100,0.5);
	box-shadow:0 0 2px black,0 0 5px black,0 0 10px black;
	margin-top:50px;
}
.form{
	color: white;
	padding:10px;

}
.left{
	width: 30%;
	float: left;
}
.right{
	width: 70%;
	float: right;
}
.top{
	overflow:hidden;
}
.right input{
	width: 100%;
}
.display input{
	width: 97%;
	text-align: right;
	margin-top: 5px;
}
.raw{

}
.rawfirst button{
	width:52px;
	height:30px;

}
.raw button{
	width:52px;
	height:30px;
}

input{
	background-color:rgba(3, 240, 252,0.75);
	border: none;
	padding:5px 0;
	color: white;
	text-align: right;
}
button{
	background-color:rgba(3, 240, 252,0.75);
	border: none;
	margin:0.1px;
}
button:hover{
	background-color: white;
	cursor: pointer;
}